<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<div
  *ngIf="user.role === 'none'"
>
  <app-login></app-login>
  <!-- <login-app></login-app> -->
</div>


<div
  *ngIf="user.role === 'teacher'"
>
  <app-teacher></app-teacher>

  <!-- <teacher-app></teacher-app> -->
</div>


<div
  *ngIf="user.role === 'student'"
>
  view student

  <app-student></app-student>
</div>


<app-debug (tick)="onTick()"></app-debug>

